.mainContainer{
    width: 100%;
}
.mainContainer-head{
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
    border-bottom: solid 0.1px grey;
}
.mainContainer-head_title{
    color: red;
    font-size: 45px;
}
.mainContainer-head_input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
   padding-top: 20px;
}
.inputField{
    width: 600px;
    height: 25px;
    border-radius: 15px;
}
.button{
    width: 75px;
    background-color: blue;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}
.button-save{
    position: absolute;
    right: 100px;
    top: 100px;
    background-color: grey;
    cursor: pointer;
}
.mainContainer-results{
    width: 50%;
    margin-left: 100px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.mainContainer-results_link{
    text-decoration: none;
    color: grey;
}
.mainContainer-results_link:hover{
    opacity: 0.5;
}
.mainContainer-results_title{
    text-decoration: none;
}
.mainContainer-results_title:hover{
    opacity: 0.5;
}
